/*! Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one or more contributor license agreements.
 * Licensed under the Elastic License; you may not use this file except in compliance with the Elastic License. */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/**
 * 1. Bring the line-height down or else this link expands its container when it becomes visible.
 */
 .timeFieldRefreshButton {
  line-height: 1 !important; /* 1 */
}

/** Custom Styles */

.euiNavDrawer,
.euiNavDrawer .euiNavDrawer__expandButton,
.euiListGroupItem.euiListGroupItem-isActive,
.euiListGroupItem.euiListGroupItem-isClickable,
.euiListGroupItem.euiListGroupItem-isClickable:hover,
.euiListGroupItem.euiListGroupItem-isClickable:focus {
  background: #00378a !important;
  color: #fff !important;
}
.euiNavDrawerGroup__item .euiListGroupItem__icon, .euiNavDrawerGroup__item .euiListGroupItem__icon path {
  fill: #fff !important;
}
.euiHeaderLogo {
  background-image: url(/bundles/img/logo.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.euiHeaderLogo svg path {
  fill: none !important;
}
.kibanaWelcomeLogo {
  background-image: url(/bundles/img/logo-64x64.png) !important;
  margin: 10px !important;
}
.kibanaWelcomeText {
  display: none !important;
}

